.akan{
    color: green;
}
.names {
    color: red;
}
.origin{
    color: yellow;
}
h1{
    text-align: center;
}
#form{
text-align: center;
border: solid red 12px;
background-image: url(/home/angie/Documents/images/african baby/UN0186354.jpeg)
}
.fill {
    text-align: center;
}
.before{
    background-color: black;
    color: white;
}
body{
background-image: url(https://cdn.wallpapersafari.com/40/27/LXUWj7.jpg);
}
